<main>
    <section class="form-section">
        <!-- <img/> -->
        <h1>Smart Spend</h1>
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-container">
            <button class="btn-primary">{{ primaryButtonText }}</button>
            <div class="line">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secundary">{{ secundaryButtonText }}</button>
        </div>
    </section>
    <section class="img-section">
        <h1>Manage your finances better!</h1>
        <img src="/assets/img-default.svg" class="img-default"/>
    </section>
</main>